<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ConfigFile" value="..\..\MetricTrac.Web\Web.config"/>
    <add key="ConfigConnectionString" value="Micajah.Common.ConnectionString"/>
    <add key="SqlMetalFile" value="C:\Program Files\Microsoft SDKs\Windows\v6.0A\bin\SqlMetal.exe"/>
    <add key="Namespace" value="MetricTrac.Bll"/>
    <add key="GeneratedFilesName" value="LinqDB"/>
    <add key="EntityBase" value="LinqMicajahEntitybase"/>
    <add key="IncludeObjectsNames" value="Mc_Instance,Mc_UnitsOfMeasure,Mc_EntityNodeType,Mc_EntityNode,Mc_User"/>
    <add key="ExcludeObjectsPrefixes" value="Mc_,Fx,fx"/>
    <add key="Log" value="True"/>
  </appSettings>
</configuration>