<?xml version="1.0" encoding="utf-8" ?>
<micajah.common>
  <settings>
    <webApplicationSettings name="MetricTrac" logoImageUrl="/images/MetricTracLogo_80px.gif" defaultColorScheme="Blue" enableMultipleInstances="false" frameworkAdministrators="yuriy.dzoba@micajah.com,yuriy.mykytyuk@micajah.com,yura.yuriev@micajah.com,jon.vickers@micajah.com,artem-itsolution@yandex.ru,artem.korzhavin@micajah.com" canLogOnAsAnotherUser="yuriy.dzoba@micajah.com,yuriy.mykytyuk@micajah.com,yura.yuriev@micajah.com,jon.vickers@micajah.com">
      <copyright companyName="MetricTrac" companyLogoImageUrl="" companyWebsiteUrl="http://www.metrictrac.com" startYear="2009" />
    </webApplicationSettings>
    <passwordSettings passwordFormat="MD5" minRequiredNonAlphanumericCharacters="1" minRequiredPasswordLength="6" enablePasswordRetrieval="true" />
    <loginSettings displayRememberMe="true" />
	  <embeddedNodeTypes enabled="false" />
    <emailSettings enableChangeLoginNameNotification="false" enableChangePasswordNotification="false" enableAddUserToOrganizationNotification="false" enableCreateNewUserNotification="false" />
    <masterPageSettings visibleMainMenu="true" submenuPosition="Left" theme="StandardTabs" themeColor="Olive">       
      <header visible="true" visibleLinks="true" visibleSearch="false" visibleOrganizationLogo="true" />
      <breadcrumbs visible="true">
        <centerHtml><![CDATA[]]></centerHtml>
        <rightHtml><![CDATA[]]></rightHtml>
      </breadcrumbs>
	  <helpLink visible="false" urlFormat="http://klebb.kc.micajah.com/bigwebapps_kb_beta/?i=fb28675e444240c6b63d67e8595d14e4&amp;popup=true&amp;a={0}">
		<window type="popup" width="566" height="634" />
	  </helpLink>
      <leftArea visible="false" width="175px" >
        <html><![CDATA[]]></html>
      </leftArea>
      <detailMenu menuIconSize="Normal" theme="Reflective" />
      <footer visible="true" visibleLinks="true" visibleApplicationLogo="true" >
        <leftTopHtml><![CDATA[]]></leftTopHtml>
        <leftBottomHtml><![CDATA[]]></leftBottomHtml>
        <rightTopHtml><![CDATA[]]></rightTopHtml>
        <rightBottomHtml><![CDATA[]]></rightBottomHtml>
      </footer>
    </masterPageSettings>
  </settings>
	<entities>
		<!--Metric-->
		<entity>
			<id>00000000-0000-0000-0000-000000000003</id>
			<name>Metric</name>
			<tableName>Metric</tableName>
			<fields>
				<field>
					<name>Identifier</name>
					<columnName>MetricID</columnName>
					<dataType>System.Guid</dataType>
					<allowDBNull>False</allowDBNull>
					<unique>True</unique>
					<readOnly>False</readOnly>
				</field>
				<field>
					<name>Name</name>
					<columnName>Name</columnName>
					<dataType>System.String</dataType>
					<allowDBNull>False</allowDBNull>
					<maxLength>100</maxLength>
					<unique>True</unique>
					<readOnly>False</readOnly>
				</field>
				<field>
					<name>Notes</name>
					<columnName>Notes</columnName>
					<dataType>System.String</dataType>
					<allowDBNull>True</allowDBNull>
					<readOnly>False</readOnly>
				</field>
				<field>
					<name>Frequency</name>
					<columnName>FrequencyID</columnName>
					<dataType>System.Int32</dataType>
					<allowDBNull>False</allowDBNull>
					<defaultValue>1</defaultValue>
					<minValue>1</minValue>
					<maxValue>11</maxValue>
				</field>
				<field>
					<name>Status</name>
					<columnName>Status</columnName>
					<dataType>System.Boolean?</dataType>
					<allowDBNull>True</allowDBNull>
					<defaultValue>1</defaultValue>
					<values>
						<value>
							<name>Delete</name>
							<value>0</value>
						</value>
						<value>
							<name>Active</name>
							<value>1</value>
						</value>
						<value>
							<name>Archive</name>
							<value>null</value>
						</value>
					</values>
				</field>
				<field>
					<name>Creation Date</name>
					<columnName>Created</columnName>
					<dataType>System.DateTime</dataType>
					<allowDBNull>False</allowDBNull>
					<defaultValue>[System.DateTime.Now]</defaultValue>
				</field>
				<field>
					<name>Last Update Date</name>
					<columnName>Updated</columnName>
					<dataType>System.DateTime</dataType>
					<allowDBNull>True</allowDBNull>
					<defaultValue>[System.DateTime.Now]</defaultValue>
				</field>
				<field>
					<name>Metric Category</name>
					<columnName>MetricCategoryID</columnName>
					<dataType>System.Guid</dataType>
					<allowDBNull>True</allowDBNull>
				</field>
				<field>
					<name>Measure Unit</name>
					<columnName>UnitOfMeasureID</columnName>
					<dataType>System.Guid</dataType>
					<allowDBNull>True</allowDBNull>
				</field>
				<field>
					<name>Data Type</name>
					<columnName>MetricDataTypeID</columnName>
					<dataType>System.Int32</dataType>
					<allowDBNull>False</allowDBNull>
					<defaultValue>1</defaultValue>
					<minValue>1</minValue>
					<maxValue>4</maxValue>
				</field>
				<field>
					<name>Decimal Places</name>
					<columnName>NODecPlaces</columnName>
					<dataType>System.Int32</dataType>
					<allowDBNull>True</allowDBNull>
				</field>
				<field>
					<name>Minimum Value</name>
					<columnName>NOMinValue</columnName>
					<dataType>System.Decimal</dataType>
					<allowDBNull>True</allowDBNull>
				</field>
				<field>
					<name>Maximum Value</name>
					<columnName>NOMaxValue</columnName>
					<dataType>System.Decimal</dataType>
					<allowDBNull>True</allowDBNull>
				</field>
				<field>
					<name>Definition</name>
					<columnName>Definition</columnName>
					<dataType>System.String</dataType>
					<allowDBNull>True</allowDBNull>
				</field>
				<field>
					<name>Documentation</name>
					<columnName>Documentation</columnName>
					<dataType>System.String</dataType>
					<allowDBNull>True</allowDBNull>
				</field>
				<field>
					<name>MetricReferences</name>
					<columnName>MetricReferences</columnName>
					<dataType>System.String</dataType>
					<allowDBNull>True</allowDBNull>
				</field>
				<field>
					<name>Code</name>
					<columnName>Code</columnName>
					<dataType>System.String</dataType>
					<allowDBNull>True</allowDBNull>
				</field>
				<field>
					<name>Alias</name>
					<columnName>Alias</columnName>
					<dataType>System.String</dataType>
					<allowDBNull>True</allowDBNull>
				</field>
				<field>
					<name>FormulaCode</name>
					<columnName>FormulaCode</columnName>
					<dataType>System.String</dataType>
					<allowDBNull>True</allowDBNull>
				</field>
			</fields>
			<events>
				<event>
					<name>Change Category (Test)</name>
				</event>				
			</events>
		</entity>

		<!--Performance Indicator-->
		<entity>
			<id>00000000-0000-0000-0000-000000000004</id>
			<name>Performance Indicator</name>
			<tableName>PerformanceIndicator</tableName>
			<fields>
				<field>
					<name>Identifier</name>
					<columnName>PerformanceIndicatorID</columnName>
					<dataType>System.Guid</dataType>
					<allowDBNull>False</allowDBNull>
					<unique>True</unique>
					<readOnly>False</readOnly>
				</field>
				<field>
					<name>Name</name>
					<columnName>Name</columnName>
					<dataType>System.String</dataType>
					<allowDBNull>False</allowDBNull>
					<maxLength>100</maxLength>
					<unique>True</unique>
					<readOnly>False</readOnly>
				</field>
				<field>
					<name>Description</name>
					<columnName>Description</columnName>
					<dataType>System.String</dataType>
					<allowDBNull>True</allowDBNull>
					<readOnly>False</readOnly>
				</field>				
				<field>
					<name>Status</name>
					<columnName>Status</columnName>
					<dataType>System.Boolean?</dataType>
					<allowDBNull>True</allowDBNull>
					<defaultValue>1</defaultValue>
					<values>
						<value>
							<name>Delete</name>
							<value>0</value>
						</value>
						<value>
							<name>Active</name>
							<value>1</value>
						</value>
						<value>
							<name>Archive</name>
							<value>null</value>
						</value>
					</values>
				</field>
				<field>
					<name>Creation Date</name>
					<columnName>Created</columnName>
					<dataType>System.DateTime</dataType>
					<allowDBNull>False</allowDBNull>
					<defaultValue>[System.DateTime.Now]</defaultValue>
				</field>
				<field>
					<name>Last Update Date</name>
					<columnName>Updated</columnName>
					<dataType>System.DateTime</dataType>
					<allowDBNull>True</allowDBNull>
					<defaultValue>[System.DateTime.Now]</defaultValue>
				</field>
				<field>
					<name>GroupCategoryAspect</name>
					<columnName>GroupCategoryAspectID</columnName>
					<dataType>System.Guid</dataType>
					<allowDBNull>True</allowDBNull>
				</field>				
				<field>
					<name>Sector</name>
					<columnName>SectorID</columnName>
					<dataType>System.Int32</dataType>
					<allowDBNull>True</allowDBNull>					
					<minValue>1</minValue>
					<maxValue>15</maxValue>
				</field>
				<field>
					<name>Requirement</name>
					<columnName>RequirementID</columnName>
					<dataType>System.Int32</dataType>
					<allowDBNull>True</allowDBNull>
					<defaultValue>1</defaultValue>
					<minValue>1</minValue>
					<maxValue>2</maxValue>
				</field>				
				<field>
					<name>Help</name>
					<columnName>Help</columnName>
					<dataType>System.String</dataType>
					<allowDBNull>True</allowDBNull>
				</field>				
			</fields>
			<events>
				<event>
					<name>Change GroupCategoryAspect (Test)</name>
				</event>
			</events>
		</entity>

		<!--Performance Indicator Form-->
		<entity>
			<id>00000000-0000-0000-0000-000000000005</id>
			<name>Performance Indicator Form</name>
			<tableName>PerformanceIndicatorForm</tableName>
			<fields>
				<field>
					<name>Identifier</name>
					<columnName>PerformanceIndicatorFormID</columnName>
					<dataType>System.Guid</dataType>
					<allowDBNull>False</allowDBNull>
					<unique>True</unique>
					<readOnly>False</readOnly>
				</field>
				<field>
					<name>Name</name>
					<columnName>Name</columnName>
					<dataType>System.String</dataType>
					<allowDBNull>False</allowDBNull>
					<maxLength>100</maxLength>
					<unique>True</unique>
					<readOnly>False</readOnly>
				</field>				
				<field>
					<name>Status</name>
					<columnName>Status</columnName>
					<dataType>System.Boolean?</dataType>
					<allowDBNull>True</allowDBNull>
					<defaultValue>1</defaultValue>
					<values>
						<value>
							<name>Delete</name>
							<value>0</value>
						</value>
						<value>
							<name>Active</name>
							<value>1</value>
						</value>
						<value>
							<name>Archive</name>
							<value>null</value>
						</value>
					</values>
				</field>
				<field>
					<name>Creation Date</name>
					<columnName>Created</columnName>
					<dataType>System.DateTime</dataType>
					<allowDBNull>False</allowDBNull>
					<defaultValue>[System.DateTime.Now]</defaultValue>
				</field>
				<field>
					<name>Last Update Date</name>
					<columnName>Updated</columnName>
					<dataType>System.DateTime</dataType>
					<allowDBNull>True</allowDBNull>
					<defaultValue>[System.DateTime.Now]</defaultValue>
				</field>				
			</fields>			
		</entity>

    <entity>
      <id>00000000-0000-0000-0000-00000000000B</id>
      <name>Group Category Aspect</name>
			<tableName>GCAFullNameView</tableName>
      <fields>
				<field>
					<name>Identifier</name>
					<columnName>GroupCategoryAspectID</columnName>
					<dataType>System.Guid</dataType>
					<allowDBNull>False</allowDBNull>
					<unique>True</unique>
					<readOnly>True</readOnly>
				</field>
				<field>
					<name>Name</name>
					<columnName>FullName</columnName>
					<dataType>System.String</dataType>
					<allowDBNull>False</allowDBNull>
					<maxLength>333</maxLength>
					<unique>False</unique>
					<readOnly>True</readOnly>
				</field>
      </fields>
    </entity>
		
		<entity>
			<id>00000000-0000-0000-0000-000000000007</id>
			<name>Group</name>
			<tableName>GroupCategoryAspect</tableName>
			<fields>
				<field>
					<name>Group Identifier</name>
					<columnName>GroupCategoryAspectID</columnName>
					<dataType>System.Guid</dataType>
					<allowDBNull>False</allowDBNull>
					<unique>True</unique>
					<readOnly>False</readOnly>
				</field>
				<field>
					<name>Name</name>
					<columnName>Name</columnName>
					<dataType>System.String</dataType>
					<allowDBNull>False</allowDBNull>
					<maxLength>100</maxLength>
					<unique>True</unique>
					<readOnly>False</readOnly>
				</field>
				<field>
					<name>Status</name>
					<columnName>Status</columnName>
					<dataType>System.Boolean?</dataType>
					<allowDBNull>True</allowDBNull>
					<defaultValue>1</defaultValue>
					<values>
						<value>
							<name>Delete</name>
							<value>0</value>
						</value>
						<value>
							<name>Active</name>
							<value>1</value>
						</value>
						<value>
							<name>Archive</name>
							<value>null</value>
						</value>
					</values>
				</field>
				<field>
					<name>Creation Date</name>
					<columnName>Created</columnName>
					<dataType>System.DateTime</dataType>
					<allowDBNull>False</allowDBNull>
					<defaultValue>[System.DateTime.Now]</defaultValue>
				</field>
				<field>
					<name>Last Update Date</name>
					<columnName>Updated</columnName>
					<dataType>System.DateTime</dataType>
					<allowDBNull>True</allowDBNull>
					<defaultValue>[System.DateTime.Now]</defaultValue>
				</field>
			</fields>
		</entity>
		<entity>
			<id>00000000-0000-0000-0000-000000000008</id>
			<name>Category</name>
			<tableName>GroupCategoryAspect</tableName>
			<fields>
				<field>
					<name>Category Identifier</name>
					<columnName>GroupCategoryAspectID</columnName>
					<dataType>System.Guid</dataType>
					<allowDBNull>False</allowDBNull>
					<unique>True</unique>
					<readOnly>False</readOnly>
				</field>
				<field>
					<name>Name</name>
					<columnName>Name</columnName>
					<dataType>System.String</dataType>
					<allowDBNull>False</allowDBNull>
					<maxLength>100</maxLength>
					<unique>True</unique>
					<readOnly>False</readOnly>
				</field>
				<field>
					<name>Status</name>
					<columnName>Status</columnName>
					<dataType>System.Boolean?</dataType>
					<allowDBNull>True</allowDBNull>
					<defaultValue>1</defaultValue>
					<values>
						<value>
							<name>Delete</name>
							<value>0</value>
						</value>
						<value>
							<name>Active</name>
							<value>1</value>
						</value>
						<value>
							<name>Archive</name>
							<value>null</value>
						</value>
					</values>
				</field>
				<field>
					<name>Creation Date</name>
					<columnName>Created</columnName>
					<dataType>System.DateTime</dataType>
					<allowDBNull>False</allowDBNull>
					<defaultValue>[System.DateTime.Now]</defaultValue>
				</field>
				<field>
					<name>Last Update Date</name>
					<columnName>Updated</columnName>
					<dataType>System.DateTime</dataType>
					<allowDBNull>True</allowDBNull>
					<defaultValue>[System.DateTime.Now]</defaultValue>
				</field>
			</fields>
		</entity>
		<entity>
			<id>00000000-0000-0000-0000-000000000009</id>
			<name>Aspect</name>
			<tableName>GroupCategoryAspect</tableName>
			<fields>
				<field>
					<name>Aspect Identifier</name>
					<columnName>GroupCategoryAspectID</columnName>
					<dataType>System.Guid</dataType>
					<allowDBNull>False</allowDBNull>
					<unique>True</unique>
					<readOnly>False</readOnly>
				</field>
				<field>
					<name>Name</name>
					<columnName>Name</columnName>
					<dataType>System.String</dataType>
					<allowDBNull>False</allowDBNull>
					<maxLength>100</maxLength>
					<unique>True</unique>
					<readOnly>False</readOnly>
				</field>
				<field>
					<name>Status</name>
					<columnName>Status</columnName>
					<dataType>System.Boolean?</dataType>
					<allowDBNull>True</allowDBNull>
					<defaultValue>1</defaultValue>
					<values>
						<value>
							<name>Delete</name>
							<value>0</value>
						</value>
						<value>
							<name>Active</name>
							<value>1</value>
						</value>
						<value>
							<name>Archive</name>
							<value>null</value>
						</value>
					</values>
				</field>
				<field>
					<name>Creation Date</name>
					<columnName>Created</columnName>
					<dataType>System.DateTime</dataType>
					<allowDBNull>False</allowDBNull>
					<defaultValue>[System.DateTime.Now]</defaultValue>
				</field>
				<field>
					<name>Last Update Date</name>
					<columnName>Updated</columnName>
					<dataType>System.DateTime</dataType>
					<allowDBNull>True</allowDBNull>
					<defaultValue>[System.DateTime.Now]</defaultValue>
				</field>
			</fields>
		</entity>		
		<entity>
			<id>00000000-0000-0000-0000-000000000006</id>
			<name>Group Category Aspect Tree</name>
			<enableHierarchy>true</enableHierarchy>
			<customNavigateUrl>~/home/GCATree.aspx</customNavigateUrl>
			<hierarchyMaxDepth>4</hierarchyMaxDepth>
			<hierarchyStartLevel>GCA Tree</hierarchyStartLevel>
			<enableNodeTypesCustomization>true</enableNodeTypesCustomization>
			<nodeTypes>
				<nodeType>
					<id>00000000-0000-0000-0000-000000000007</id>					
					<orderNumber>1</orderNumber>
				</nodeType>
				<nodeType>
					<id>00000000-0000-0000-0000-000000000008</id>
					<orderNumber>2</orderNumber>
				</nodeType>
				<nodeType>
					<id>00000000-0000-0000-0000-000000000009</id>
					<orderNumber>3</orderNumber>
				</nodeType>				
			</nodeTypes>
		</entity>

		<entity>
			<id>00000000-0000-0000-0000-000000000011</id>
			<name>Metric Category</name>
			<tableName>MetricCategory</tableName>
			<fields>
				<field>
					<name>Metric Category Identifier</name>
					<columnName>MetricCategoryID</columnName>
					<dataType>System.Guid</dataType>
					<allowDBNull>False</allowDBNull>
					<unique>True</unique>
					<readOnly>False</readOnly>
				</field>
				<field>
					<name>Name</name>
					<columnName>Name</columnName>
					<dataType>System.String</dataType>
					<allowDBNull>False</allowDBNull>
					<maxLength>100</maxLength>
					<unique>True</unique>
					<readOnly>False</readOnly>
				</field>
				<field>
					<name>Status</name>
					<columnName>Status</columnName>
					<dataType>System.Boolean?</dataType>
					<allowDBNull>True</allowDBNull>
					<defaultValue>1</defaultValue>
					<values>
						<value>
							<name>Delete</name>
							<value>0</value>
						</value>
						<value>
							<name>Active</name>
							<value>1</value>
						</value>
						<value>
							<name>Archive</name>
							<value>null</value>
						</value>
					</values>
				</field>
				<field>
					<name>Creation Date</name>
					<columnName>Created</columnName>
					<dataType>System.DateTime</dataType>
					<allowDBNull>False</allowDBNull>
					<defaultValue>[System.DateTime.Now]</defaultValue>
				</field>
				<field>
					<name>Last Update Date</name>
					<columnName>Updated</columnName>
					<dataType>System.DateTime</dataType>
					<allowDBNull>True</allowDBNull>
					<defaultValue>[System.DateTime.Now]</defaultValue>
				</field>
			</fields>
		</entity>
    <entity>
      <id>00000000-0000-0000-0000-000000000010</id>
      <name>Metric Category Tree</name>
      <enableHierarchy>true</enableHierarchy>
		<customNavigateUrl>~/home/MetricCategoryTree.aspx</customNavigateUrl>
      <hierarchyMaxDepth>3</hierarchyMaxDepth>
      <hierarchyStartLevel>Metric Category Tree</hierarchyStartLevel>
      <enableNodeTypesCustomization>false</enableNodeTypesCustomization>
      <nodeTypes>
        <nodeType>
          <id>00000000-0000-0000-0000-000000000011</id>
          <orderNumber>1</orderNumber>
        </nodeType>        
      </nodeTypes>
    </entity>
    
    <entity>
      <id>00000000-0000-0000-0000-00000000000C</id>
      <name>Location</name>
      <tableName>EntityNodeFullNameView</tableName>
      <fields>
        <field>
          <name>Identifier</name>
          <columnName>EntityNodeId</columnName>
          <dataType>System.Guid</dataType>
          <allowDBNull>False</allowDBNull>
          <unique>True</unique>
          <readOnly>True</readOnly>
        </field>
        <field>
          <name>Name</name>
          <columnName>FullName</columnName>
          <dataType>System.String</dataType>
          <allowDBNull>False</allowDBNull>
          <maxLength>333</maxLength>
          <unique>False</unique>
          <readOnly>True</readOnly>
        </field>
      </fields>
    </entity>
    
    <entity>
      <id>00000000-0000-0000-0000-000000000012</id>
      <name>Entity Node</name>
      <tableName>Mc_EntityNode</tableName>
      <fields>
        <field>
          <name>Entity Node Identifier</name>
          <columnName>EntityNodeId</columnName>
          <dataType>System.Guid</dataType>
          <allowDBNull>False</allowDBNull>
          <unique>True</unique>
          <readOnly>False</readOnly>
        </field>
        <field>
          <name>Entity Node Parent Identifier</name>
          <columnName>ParentEntityNodeId</columnName>
          <dataType>System.Guid</dataType>
          <allowDBNull>True</allowDBNull>
          <unique>False</unique>
          <readOnly>False</readOnly>
        </field>
        <field>
          <name>Name</name>
          <columnName>Name</columnName>
          <dataType>System.String</dataType>
          <allowDBNull>False</allowDBNull>
          <maxLength>255</maxLength>
          <unique>False</unique>
          <readOnly>False</readOnly>
        </field>
        <field>
          <name>Order Number</name>
          <columnName>OrderNumber</columnName>
          <dataType>System.Int32</dataType>
          <allowDBNull>False</allowDBNull>
          <unique>False</unique>
          <readOnly>False</readOnly>
        </field>
        <field>
          <name>OrganizationId</name>
          <columnName>OrganizationId</columnName>
          <dataType>System.Guid</dataType>
          <allowDBNull>True</allowDBNull>
          <unique>False</unique>
          <readOnly>False</readOnly>
        </field>
        <field>
          <name>InstanceId</name>
          <columnName>InstanceId</columnName>
          <dataType>System.Guid</dataType>
          <allowDBNull>True</allowDBNull>
          <unique>False</unique>
          <readOnly>False</readOnly>
        </field>
        <field>
          <name>EntityId</name>
          <columnName>EntityId</columnName>
          <dataType>System.Guid</dataType>
          <allowDBNull>False</allowDBNull>
          <unique>False</unique>
          <readOnly>False</readOnly>
        </field>
        <field>
          <name>EntityNodeTypeId</name>
          <columnName>EntityNodeTypeId</columnName>
          <dataType>System.Guid</dataType>
          <allowDBNull>True</allowDBNull>
          <unique>False</unique>
          <readOnly>False</readOnly>
        </field>        
        <field>
          <name>SubEntityId</name>
          <columnName>SubEntityId</columnName>
          <dataType>System.Guid</dataType>
          <allowDBNull>True</allowDBNull>
          <unique>False</unique>
          <readOnly>False</readOnly>
        </field>
        <field>
          <name>SubEntityLocalId</name>
          <columnName>SubEntityLocalId</columnName>
          <dataType>System.String</dataType>
          <allowDBNull>True</allowDBNull>
          <maxLength>255</maxLength>
          <unique>False</unique>
          <readOnly>False</readOnly>
        </field>
        <field>
          <name>Deleted</name>
          <columnName>Deleted</columnName>
          <dataType>System.Boolean</dataType>
          <allowDBNull>False</allowDBNull>
          <unique>False</unique>
          <readOnly>True</readOnly>
        </field>
      </fields>
    </entity>



    <entity>
      <id>4cda22f3-4f01-4768-8608-938dc6a06825</id>
      <name>Organization Location</name>
      <enableHierarchy>true</enableHierarchy>
      <allowRootNodeSelection>true</allowRootNodeSelection>
      <hierarchyMaxDepth>8</hierarchyMaxDepth>
      <hierarchyStartLevel>Organization</hierarchyStartLevel>
      <customRootNodeText>#organizationName#</customRootNodeText>
      <enableNodeTypesCustomization>true</enableNodeTypesCustomization>
      <events>
        <event>
          <name>Location &amp; Sub PI Forms</name>
          <url>~/home/OrgPIFList.aspx?OrgLocationID={0}&amp;Sub=True</url>
        </event>
      </events>
    </entity>



    <entity>
      <id>00000000-0000-0000-0000-00000000000A</id>
      <name>Denormalized Metric Org Location Rules</name>
      <tableName>D_MetricOrgLocationRule</tableName>
      <fields>
        <field>
          <name>Metric Identifier</name>
          <columnName>MetricID</columnName>
          <dataType>System.Guid</dataType>
          <allowDBNull>False</allowDBNull>
          <unique>False</unique>
          <readOnly>False</readOnly>
        </field>
        <field>
          <name>Org Location Identifier</name>
          <columnName>OrgLocationID</columnName>
          <dataType>System.Guid</dataType>
          <allowDBNull>False</allowDBNull>
          <unique>False</unique>
          <readOnly>False</readOnly>
        </field>        
        <field>
          <name>Data Collector User Identifier</name>
          <columnName>CollectorUserId</columnName>
          <dataType>System.Guid</dataType>
          <allowDBNull>True</allowDBNull>
          <unique>False</unique>
          <readOnly>False</readOnly>
        </field>
        <field>
          <name>Data Collector User Group Identifier</name>
          <columnName>CollectorGroupId</columnName>
          <dataType>System.Guid</dataType>
          <allowDBNull>True</allowDBNull>
          <unique>False</unique>
          <readOnly>False</readOnly>
        </field>
        <field>
          <name>Collector Rule Identifier</name>
          <columnName>CollectorDataRuleID</columnName>
          <dataType>System.Guid</dataType>
          <allowDBNull>True</allowDBNull>
          <unique>False</unique>
          <readOnly>False</readOnly>
        </field>
        <field>
          <name>Data Approver User Identifier</name>
          <columnName>ApproverUserId</columnName>
          <dataType>System.Guid</dataType>
          <allowDBNull>True</allowDBNull>
          <unique>False</unique>
          <readOnly>False</readOnly>
        </field>
        <field>
          <name>Data Approver User Group Identifier</name>
          <columnName>ApproverGroupId</columnName>
          <dataType>System.Guid</dataType>
          <allowDBNull>True</allowDBNull>
          <unique>False</unique>
          <readOnly>False</readOnly>
        </field>
        <field>
          <name>Approver Rule Identifier</name>
          <columnName>ApproverDataRuleID</columnName>
          <dataType>System.Guid</dataType>
          <allowDBNull>True</allowDBNull>
          <unique>False</unique>
          <readOnly>False</readOnly>
        </field>
      </fields>
    </entity>


    <entity>
      <id>00000000-0000-0000-0000-00000000000D</id>
      <name>Collection Frequency</name>
      <tableName>Frequency</tableName>
      <fields>
        <field>
          <name>Identifier</name>
          <columnName>FrequencyID</columnName>
          <dataType>System.Int32</dataType>
          <allowDBNull>False</allowDBNull>
          <unique>True</unique>
          <readOnly>True</readOnly>
        </field>
        <field>
          <name>Name</name>
          <columnName>Name</columnName>
          <dataType>System.String</dataType>
          <allowDBNull>False</allowDBNull>
          <maxLength>255</maxLength>
          <unique>False</unique>
          <readOnly>False</readOnly>
        </field>
      </fields>      
    </entity>

    
    <entity>
      <id>00000000-0000-0000-0000-00000000000E</id>
      <name>Metric Data</name>
      <tableName>MetricValue</tableName>
      <fields>
        <field>
          <name>Identifier</name>
          <columnName>MetricValueID</columnName>
          <dataType>System.Guid</dataType>
          <allowDBNull>False</allowDBNull>
          <unique>True</unique>
          <readOnly>True</readOnly>
        </field>
        <field>
          <name>Date</name>
          <columnName>Date</columnName>
          <dataType>System.DateTime</dataType>
          <allowDBNull>False</allowDBNull>
          <unique>False</unique>
          <readOnly>False</readOnly>
        </field>
        <field>
          <name>Value</name>
          <columnName>Value</columnName>
          <dataType>System.String</dataType>
          <allowDBNull>True</allowDBNull>
          <maxLength>255</maxLength>
          <unique>False</unique>
          <readOnly>False</readOnly>
        </field>
      </fields>
    </entity>




  </entities>


  <rulesEngines>
    <rulesEngine>
      <name>MetricCollectorAssignment</name>
      <nameFriendly>Metric Collector Assignment Rules</nameFriendly>
      <id>b410cd1f-9d0a-4472-a416-76c9e5c11f08</id>
      <inputs>
        <input>
          <name>Group</name>
          <id>00000000-0000-0000-0000-000000000007</id>
        </input>
        <input>
          <name>Category</name>
          <id>00000000-0000-0000-0000-000000000008</id>
        </input>
        <input>
          <name>Aspect</name>
          <id>00000000-0000-0000-0000-000000000009</id>
        </input>
        <input>
          <name>Metric</name>
          <entityid>00000000-0000-0000-0000-000000000003</entityid>
        </input>
        <input>
          <name>Metric Category</name>
          <entityid>00000000-0000-0000-0000-000000000011</entityid>
        </input>
        <input>
          <name>Performance Indicator</name>
          <entityid>00000000-0000-0000-0000-000000000004</entityid>
        </input>
      </inputs>
      <output>
        <editPage>~/home/DataCollectOutPutRule.aspx?RuleId={0:N}</editPage>
        <outputStringClass>bigWebApps.HelpDesk.DataCollectorOutPutString(string RuleGuid)</outputStringClass>
      </output>
    </rulesEngine>
  </rulesEngines>
  
  

  <DataViews>
    <DataView Name="Metric Data View" BaseEntityID="00000000-0000-0000-0000-00000000000A" DataViewTypeID="00000000-0000-0000-0000-000000000001">
      <ReferenceEntities>
        <ReferenceEntity EntityID="00000000-0000-0000-0000-000000000003" Alias="m">
          <UseField Name="Identifier"/>
          <UseField Name="Name"/>
          <UseField Name="Notes"/>
          <UseField Name="Definition"/>
          <UseField Name="Documentation"/>
          <UseField Name="MetricReferences"/>
          <UseField Name="Code"/>
          <UseField Name="Alias"/>
          <UseField Name="FormulaCode"/>
          <UseField Name="Minimum Value"/>
          <UseField Name="Maximum Value"/>
        </ReferenceEntity>
        <ReferenceEntity EntityID="00000000-0000-0000-0000-00000000000D" Alias="f">
          <UseField Name="Identifier"/>
          <UseField Name="Name"/>
        </ReferenceEntity>
        <ReferenceEntity EntityID="00000000-0000-0000-0000-00000000000C" ReferenceTable="D_MetricOrgLocationPath" Alias="en">
          <UseField Name="Identifier" SelectControl="~/Control/OrgLocationSelect.ascx"/>
          <UseField Name="Name"/>
        </ReferenceEntity>
        <ReferenceEntity EntityID="00000000-0000-0000-0000-000000000004" ReferenceType="OneToMany" ReferenceTable="D_MetricOrgLocationPath" Alias="pi">
          <UseField Name="Identifier"/>
          <UseField Name="Name"/>
        </ReferenceEntity>
        <ReferenceEntity EntityID="00000000-0000-0000-0000-00000000000B" ReferenceType="OneToMany" ReferenceTable="D_MetricOrgLocationPath" Alias="gca">
          <UseField Name="Identifier"/>
          <UseField Name="Name"/>
        </ReferenceEntity>
        <ReferenceEntity EntityID="00000000-0000-0000-0000-000000000005" ReferenceType="OneToMany" ReferenceTable="D_MetricOrgLocationPath" Alias="pif">
          <UseField Name="Identifier"/>
          <UseField Name="Name"/>
        </ReferenceEntity>
        <ReferenceEntity EntityID="00000000-0000-0000-0000-00000000000E" Alias="v">
          <UseField Name="Identifier"/>
          <UseField Name="Date"/>
          <UseField Name="Value" NODecPlaces="m.NODecPlaces"/>
        </ReferenceEntity>
      </ReferenceEntities>
    
    </DataView>
  </DataViews>
  
  
</micajah.common>